{% extends "base/base.html.twig"%}
{% block title %}{{title}}{% endblock %}
            {% block body %}
            {% if in_cart|length !=0 %}
            <div class="cart-container">
            {%for generator in in_cart%}
              <div class="item-in-cart">
                <div class="item-image for-cart-section">
                  <img src="{{generator.image}}">
                </div>
                <div class="item-title for-cart-section">
                  <div class="upper-title">
                    <p>Название</p>
                  </div>
                  <div class="title-cart">
                      {{generator.title}}
                  </div>
                </div>
                <div class="item-article for-cart-section">
                  <div class="upper-title">
                    <p>Артикул</p>
                  </div>
                  <div class="title-cart">
                      {{generator.article}}
                  </div>
                </div>
                <div class="item-weight for-cart-section ">
                  <div class="upper-title">
                    <p>Вес</p>
                  </div>
                  <div class="title-cart">
                      {{generator.weight}}
                  </div>
                </div>
                <div class="item-quan for-cart-section">
                  <div class="upper-title">
                    <p>Количество</p>
                  </div>
                  <div class="plus-munis-quan">
                    <div class="plus-item">
                      <a href="add_to_cart/{{generator.id}}">+</a>
                    </div>
                    <div class="itogo">
                      <p class="count-value">0</p>
                    </div>
                    <div class="remove-item">
                      <a href="remove_from_cart/{{generator.id}}">-</a>
                    </div>
                  </div>
                </div>
                <div class="item-price for-cart-section">
                  <div class="upper-title">
                    <p>Цена</p>
                  </div>
                  <div class="title-cart">
                      {{generator.price}}
                  </div>
                </div>
              </div>
            {% endfor %}
            <div class="all-weights">
              <div class="title-cart ">
                Общий вес:
              </div>
              <div class="title-cart title-itog">
                  <p class='intogo-weight'>0</p>
              </div>
            </div>

            <div class="all-prices">
              <div class="title-cart ">
                Итого:
              </div>
              <div class="title-cart title-itog">
                  <p class='intogo'>0</p>
              </div>
            </div>
            </div>
            <div class="form-cart">
              <div class="left-side-form">
                <input type="radio" id="contactChoice1"
               name="contact" value="email">
              <label for="contactChoice1">Email</label>

              <input type="radio" id="contactChoice2"
               name="contact" value="phone">
              <label for="contactChoice2">Phone</label>

              <input type="radio" id="contactChoice3"
               name="contact" value="mail">
              <label for="contactChoice3">Mail</label>
              </div>
              <div class="rigth-side-form">
              </div>
            </div>
            {% else %}
            <div class="empty-cart title-cart">
              <p>корзина пуста</p>
            </div>
            {% endif %}
           {% endblock %}
        {% block javascripts %}
        <script type="text/javascript" src="assets/js/cart.js"></script>
        {% endblock %}
