{% extends "base/base.html.twig"%}
{% block title %}{{title}}{% endblock %}
            {% block body %}
            <p class="part-title">eurus/корзина</p>
            {% if in_cart|length !=0 %}
            <div class="cart-container">
            {%for generator in in_cart%}
              <div class="item-in-cart">
                <div class="item-image for-cart-section">
                  <img src="{{generator.image}}">
                </div>
                <div class="item-title for-cart-section">
                  <div class="upper-title">
                    <p>Название</p>
                  </div>
                  <div class="title-cart">
                      {{generator.title}}
                  </div>
                </div>
                <div class="item-article for-cart-section">
                  <div class="upper-title">
                    <p>Артикул</p>
                  </div>
                  <div class="title-cart">
                      {{generator.article}}
                  </div>
                </div>
                <div class="item-weight for-cart-section ">
                  <div class="upper-title">
                    <p>Вес</p>
                  </div>
                  <div class="title-cart">
                      {{generator.weight}}
                  </div>
                </div>
                <div class="item-quan for-cart-section">
                  <div class="upper-title">
                    <p>Количество</p>
                  </div>
                  <div class="plus-munis-quan">
                    <div class="plus-item">
                      <a href="add_to_cart/{{generator.id}}">+</a>
                    </div>
                    <div class="itogo">
                      <p class="count-value">0</p>
                    </div>
                    <div class="remove-item">
                      <a href="remove_from_cart/{{generator.id}}">-</a>
                    </div>
                  </div>
                </div>
                <div class="item-price for-cart-section">
                  <div class="upper-title">
                    <p>Цена</p>
                  </div>
                  <div class="title-cart">
                      {{generator.price}}
                  </div>
                </div>
              </div>
            {% endfor %}
            <div class="all-weights">
              <div class="title-cart ">
                Общий вес:
              </div>
              <div class="title-cart title-itog">
                  <p class='intogo-weight'>0</p>
              </div>
            </div>
            <div class="all-prices">
              <div class="title-cart ">
                Итого:
              </div>
              <div class="title-cart title-itog">
                  <p class='intogo'>0</p>
              </div>
            </div>
            </div>
            <div class="form-cart">
              <p class="part-title ">выберите способ доставки</p>
              <form class="right-side-buy" action="index.html" method="post">
                <div class="left-side-form">
                  <div class="choice">
                    <input type="radio" id="contactChoice"name="contact" value="self-ride">самовывоз (бесплатно)
                    <div class="text-choice">
                      <p>Удобный, бесплатный и быстрый способ получения заказа. Адрес магазина: г. Санкт-Петербург, ул. Салова 45 литера Ж</p>
                    </div>
                  </div>
                  <div class="choice">
                    <input type="radio" id="contactChoice"name="contact" value="delivery">курьерская доставка по санкт-петербургу (бесплатно)
                    <div class="text-choice">
                      <div class="ahtung">
                      Доступно только для Санкт-Петербурга Максимальный вес: 300 к
                      </div>
                      <p>
                          Курьерская доставка осуществляется на следующий день после оформления заказа, если товар есть в наличии. Курьерская доставка осуществляется в пределах СПб  с 10.00 до 21.00. Заказ на сумму свыше 80000 рублей доставляется бесплатно.
                          Стоимость бесплатной доставки раcсчитывается от суммы заказа с учтенной скидкой. В случае если сумма заказа после применения скидки менее 80000 рублей, осуществляется платная доставка.
                          При сумме заказа менее 80000 рублей стоимость доставки составляет от 500 рублей
                      </p>
                    </div>
                  </div>
                  <div class="choice">
                    <input type="radio" id="contactChoice"name="contact" value="terminal">Доставка до терминала транспортной компании (договорная)
                    <div class="text-choice">
                      <div class="ahtung">
                        Оплата доставки до терминала транспортной компании в Санкт-Петербурге.
                      </div>
                         <p>
                          Оплата стоимости доставки от терминала транспортной компании в Санкт-Петербурге до адреса доставки оплачивается непосредственно в транспортной компании при получении заказа. Выбор транспортной кампании и стоимость мы обсудим с Вами в процессе оформления заказа.</p>
                    </div>
                  </div>
                </div>
                <div class="rigth-side-form">
                  <div class="input-containers">
                    <p class="part-title">Данные получателя:</p>
                    <div class="input-customer">
                        <p>Имя, фамилия</p>
                        <input type="text" name="fio" value="">
                    </div>
                    <div class="input-customer">
                        <p>Email</p>
                        <input type="text" name="email" value="">
                    </div>
                    <div class="input-customer">
                        <p>телефон</p>
                        <input type="text" name="phone" value="">
                    </div>
                    <div class="comment-customer">
                        <p>коментарий</p>
                        <input type="text" name="comment" value="" style="height:100px">
                    </div>
                    <div class="buy-push">
                      <button class="buy" type="submit" name="button">Оформить Заказ</button>
                    </div>
                </div>
              </form>
            </div>
            {% else %}
            <div class="empty-cart title-cart">
              <p>корзина пуста</p>
            </div>
            {% endif %}
           {% endblock %}
        {% block javascripts %}
        <script type="text/javascript" src="assets/js/cart.js"></script>
        {% endblock %}
