<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        {% block stylesheets %}
            <link rel="stylesheet" href="assets/css/base.css">
            <link rel="stylesheet" href="assets/css/main.css">
            <link rel="stylesheet" href="assets/css/goods.css">
            <link rel="stylesheet" href="assets/css/cart.css">
            <link rel="stylesheet" href="assets/css/catalog.css">
            <link rel="stylesheet" href="assets/css/news.css">
            <link rel="stylesheet" href="assets/css/log.css">

        {% endblock %}
    </head>
    <body>
      <div class="main-container">

          {% block header %}
        <div class="upper-section">
          <div class="above-header">
              <div class="above-container">
                <div class="above-header-left-side">
                    <div class="main-logo-left">
                        <div class="upper-logo">
                            <a href="{{ path('main') }}">
                                <img src="assets/img/base/main_logo.png">
                                <div class="bottom-logo">
                                    <img src="assets/img/base/wind_d.png">
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="main-logo-right">
                        <p class="main-logo-place">
                            Caнкт-Петербург
                        </p>
                        <p class="main-logo-telephone">
                             +7 (812) 114-31-11
                        </p>
                    </div>
                </div>
                <div class="above-header-right-side">
                  <div class="left-half-header-logos">
                    {% if app.user %}
                      <p class="user-title main-logo-right">Вы вошли как {{app.user.email}}</p>
                        {% endif %}
                  </div>
                    <div class="right-half-header-logos">
                        <div class="user">
                          <a href="/login">
                            <img src="assets/img/base/user.png" alt="">
                          </a>
                        </div>
                        <div class="shopping">
                          <a href="{{ path('cart')}}">
                            <img src="assets/img/base/shopping-cart.png" alt="">
                          </a>
                        </div>
                        <div class="search">
                          <a href="#">
                            <img src="assets/img/base/search.png" alt="">
                          </a>
                        </div>
                  </div>
                </div>
              </div>
                <div class="header">
                    <nav class="main-nav">
                        <ul class="main-nav-list">
                            <li>
                                <a href="{{ path('main') }}">Главная</a>
                            </li>
                            <li>
                                <a href="{{ path('catalog') }}">Продукты и услуги</a>
                            </li>
                            <li>
                                <a href="{{ path('about') }}">Компания</a>
                            </li>
                            <li>
                                <a href="{{ path('news') }}">Новости</a>
                            </li>
                            <li>
                                <a href="{{ path('delivery') }}">Доставка</a>
                            </li>
                            <li>
                                <a href="{{ path('contacts') }}">Контакты</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
           {% endblock %}
        </div>
        {% block reklama %}
        {% endblock %}
        {% block main_title %}
        {% endblock %}
        <div class="body-block">
          <div class="body-container">
            {% block body %}
            {% block generator%}
            {% endblock %}
            {% endblock%}
          </div>
        </div>
        {% block footer %}

        <div class="bottom-section">
          <div class="footer-container">
            <div class="left-side-footer">
              <div class="left-side-left-half-footer">
                <a href="#">
                  <img src="assets/img/base/footer-logo.png" alt="">
                </a>
                <div class="main-logo-right">
                    <p class="main-logo-place  left-side-footer-contacts">
                        Caнкт-Петербург
                    </p>
                    <p class="main-logo-telephone left-side-footer-contacts">
                         +7 (812) 114-31-11
                    </p>
                </div>
              </div>
              <div class="left-side-right-half-footer">
              </div>
            </div>
            <div class="center-side-footer">
              <a href="{{ path('catalog') }}">Ветрогенераторы</a>
              <a href="{{ path('catalog') }}">Обслуживание</a>
              <a href="{{ path('catalog') }}">О нас</a>
              <a href="{{ path('catalog') }}">Рекомендации</a>
              <a href="{{ path('catalog') }}">Новости</a>
              <a href="{{ path('catalog') }}">Карьера</a>
              <a href="{{ path('catalog') }}">Проекты</a>
              <a href="{{ path('catalog') }}">Доставка</a>
              <a href="{{ path('catalog') }}">Контакты</a>
            </div>
            <div class="right-side-footer">
                <div class="social">
                    <div class="in-social space-social">
                      <p>Мы в соцсетях</p>
                    </div>
                    <div class="social-link space-social">
                      <a class="facebook" href="https://www.facebook.com/"></a>
                      <a class="twitter" href="https://twitter.com/"></a>
                      <a class="youtube" href="https://www.youtube.com/"></a>
                      <a class="instagram" href="https://www.instagram.com/"></a>
                    </div>
                  <a class="contact-us space-social" href="/">Связаться с нами</a>
               </div>
            </div>
          </div>
        </div>

        {% endblock %}
        {% block javascripts %}{% endblock %}

      </div>
    </body>
</html>
