<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
        {% block stylesheets %}
            <link rel="stylesheet" href="assets/css/app.css">
        {% endblock %}
    </head>
    <body>
          {% block header %}
        <div class="upper-section">
          <div class="above-header">
              <div class="above-container">
                <div class="above-header-left-side">
                    <div class="main-logo-left">
                        <div class="upper-logo">
                            <a href="{{ path('main') }}">
                                <img src="assets/img/base/main_logo.png">
                                <div class="bottom-logo">
                                    <img src="assets/img/base/wind_d.png">
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="main-logo-right">
                        <p class="main-logo-place">
                            Caнкт-Петербург
                        </p>
                        <p class="main-logo-telephone">
                             +7 (812) 114-31-11
                        </p>
                    </div>
                </div>
                <div class="above-header-right-side">
                  <div class="left-half-header-logos">
                  </div>
                  <div class="right-half-header-logos">
                      <div class="user">
                        <a href="#">
                          <img src="assets/img/base/user.png" alt="">
                        </a>
                      </div>
                      <div class="shopping">
                        <a href="#">
                          <img src="assets/img/base/shopping-cart.png" alt="">
                        </a>
                      </div>
                      <div class="compare">
                        <a href="#">
                          <img src="assets/img/base/balance.png" alt="">
                        </a>
                      </div>
                      <div class="search">
                        <a href="#">
                          <img src="assets/img/base/search.png" alt="">
                        </a>
                      </div>
                  </div>
                </div>
              </div>
                <div class="header">
                    <nav class="main-nav">
                        <ul class="main-nav-list">
                            <li>
                                <a href="{{ path('main') }}">Продукты и услуги</a>
                            </li>
                            <li>
                                <a href="{{ path('main') }}">Компания</a>
                            </li>
                            <li>
                                <a href="{{ path('projects') }}">Проекты</a>
                            </li>
                            <li>
                                <a href="{{ path('delivery') }}">Доставка</a>
                            </li>
                            <li>
                                <a href="{{ path('calculator') }}">Онлайн-калькулятор</a>
                            </li>
                            <li>
                                <a href="{{ path('main') }}">Контакты</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
           {% endblock %}
        </div>


        {% block body %}

        {% endblock %}
        {% block javascripts %}{% endblock %}
      {% block footer %}

      <div class="bottom-section">
        <div class="footer-container">
          <div class="left-side-footer">
            <div class="left-side-left-half-footer">
              <a href="#">
                <img src="assets/img/base/footer-logo.png" alt="">
              </a>
              <div class="main-logo-right">
                  <p class="main-logo-place  left-side-footer-contacts">
                      Caнкт-Петербург
                  </p>
                  <p class="main-logo-telephone left-side-footer-contacts">
                       +7 (812) 114-31-11
                  </p>
              </div>
            </div>
            <div class="left-side-right-half-footer">
            </div>
          </div>
          <div class="center-side-footer">
            <a href="#">Ветрогенераторы</a>
            <a href="#">Обслуживание</a>
            <a href="#">О нас</a>
            <a href="#">Рекомендации</a>
            <a href="#">Новости</a>
            <a href="#">Карьера</a>
            <a href="#">Проекты</a>
            <a href="#">Доставка</a>
            <a href="#">Контакты</a>
            <a href="#">Онлайн-калькулятор</a>
          </div>
          <div class="right-side-footer">
              <div class="social">
                  <div class="in-social">
                    <p>Мы в соцсетях</p>
                  </div>
                  <div class="social-link">
                    <div class="facebook">

                    </div>
                    <div class="twitter">

                    </div>
                    <div class="youtube">

                    </div>
                    <div class="instagram">

                    </div>
                  </div>

                  <div class="contact-us">

                  </div>
              </div>
          </div>
          </div>
        </div>
      </div>

      {% endblock %}
      </div>
    </body>
</html>
