<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}
            <link rel="stylesheet" href="assets/css/app.css">
        {% endblock %}
    </head>
    <body> 
        <div class="upper-section">
          {% block header %}
            <div class="header">
                <nav class="main-nav">
                    <ul class="main-nav-list">
                        <li>
                            <a href="{{ path('main') }}">Продукты и услуги</a>
                        </li>
                        <li>
                            <a href="{{ path('main') }}">Компания</a>
                        </li>
                        <li>
                            <a href="{{ path('main') }}">Проекты</a>
                        </li>
                        <li>
                            <a href="{{ path('main') }}">Доставка</a>
                        </li>
                        <li>
                            <a href="{{ path('calculator') }}">Онлайн-калькулятор</a>
                        </li>
                        <li>
                            <a href="{{ path('main') }}">Контакты</a>
                        </li>
                    </ul>
                </nav>
            </div> 
           {% endblock %} 
        </div>
          

        {% block body %}
        
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
