        {% extends "base/base.html.twig"%}

        {% block title %}Welcome!{% endblock %}
                {% block body %}
        <div class="main-pic">
          <div class="left-side-main-pic">

              <p class="main-title-text">Сохраняем энергию, деньги и планету</p>
              <form class="look_catalog" action="{{ path('catalog') }}">
                <button type="submit">Посмотреть каталог</button>
              </form>

          </div>
        </div>
        <p>
          Популярное
        </p>
        <div class="generators">
            {% for generator in generators%}
              <p class="current_buy" >{{generator.title}}</p>
              <p>{{generator.power}}</p>
              <p> {{generator.voltage}}</p>
              <p> {{generator.TypeGenerator}}</p>
              <img src="{{generator.image}}" alt="">
              <button class="add-cart-button" type="submit" name="button">
                <a href="add_to_cart/{{generator.id}}">Купить</a>
              </button>
          </form>

        </div>
            {% endfor %}
        {% endblock %}
        {% block javascripts %}{% endblock %}
