        {% extends "base/base.html.twig"%}

        {% block title %}Welcome!{% endblock %}
                {% block body %}
        <div class="main-pic">
          <div class="left-side-main-pic">

              <p class="main-title-text">Сохраняем энергию, деньги и планету</p>
              <form class="look_catalog" action="{{ path('catalog') }}">
                <button type="submit">Посмотреть каталог</button>
              </form>

          </div>
        </div>
        <p>
          Популярное
        </p>
            {% for generator in generators%}
            <div class="good_cart">
              <p>{{generator.title}}</p>
              <p>{{generator.power}}</p>
              <p> {{generator.voltage}}</p>
              <p> {{generator.TypeGenerator}}</p>
              <img src="{{generator.image}}" alt="">


            </div>
            {% endfor %}
        {% endblock %}
        {% block javascripts %}{% endblock %}
